<div class="container-fluid nav-clear hero">
  <div class="hero-box">
    <h1>Find Meaningful Work<br></h1>

    <%= button_to "Browse", companies_path, class: "button", method: :get%>
  </div>
</div>
<!-- <div class="features-wrapper">
  <h1>What makes work worth doing?</h1>
  <div class="features">

    <div class="feature">
      <h2>Mission first</h2>
      <p>People who put the mission above everything else. The ultimate reward is helping others, not being the “biggest” or the “best”. We only list companies and jobs that are purpose driven.</p>
    </div>
    <div class="feature">
      <h2>Positive output</h2>
      <p>If a company isn’t making a positive difference on the world, should it exist? We believe in creating a better world through better employment. Companies have the power to change the world or destroy it and we vote for the future we want with what we work for.</p>
    </div>
    <div class="feature">
      <h2>Hard</h2>
      <p>If the work wasn’t hard and if we didn’t need to step up our game, it would be no fun.</p>
    </div>
  </div>
</div> -->
