<div class="plate">
	<div class = "sidebar-button">
		<span class = "glyphicon glyphicon-cog"></span>
		<%= link_to "Edit profile", edit_user_registration_path(current_user), class: "sidebar-link" %>
	</div>
</div>