<div class="plate">
	<div class = "sidebar-button">
		<span class = "glyphicon glyphicon-cog">
			<%= link_to "Edit profile", edit_user_registration_path(current_user)%>
		</span>
		
	</div>
</div>
<br>