<p class = "sidebar-mini-header">Shortcuts</p>
<div class="plate">
		<p class = "sidebar-button"><%= link_to "Browse all", root_path %></p>
	<% if user_signed_in? %>
		<p class = "sidebar-button border-top"><%= link_to "Following", interests_path %></p>
	<% end %>
	
</div>
